# IntelliJ
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# Build folders
target/
out/

# Spring Boot
application.properties

# Logs
*.log


#git status
#git add .
#git commit -m "Added Spring practice mini projects"
#git push origin master